body {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f0f0f0;
    /* Màu nền xám nhạt */
}

.header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.header .search-bar {
    flex: 1;
    margin: 0 20px;
}

.header .search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    margin: 0 15px;
}

.header nav ul li a {
    text-decoration: none;
    color: #663399;
    /* Màu tím */
    border-bottom: 2px solid #663399;
    /* Gạch chân */
}

.header .icons a {
    margin-left: 15px;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
}