.slide-container {
    width: 100%;
    margin: auto;
}

.carousel {
    height: 400px;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Giữ tỷ lệ ảnh, tránh méo */
}

.content {
    position: absolute;
    top: 100px;
    left: 200px;
}

.iphone-section {
    background-color: #211C24;
    color: white;
    text-align: center;
    padding-left: 100px;
    width: 100%;
    height: 400px;
    position: relative;
}

.iphone-section img {
    position: absolute;
    width: 350px;
    height: 400px;
    right: 250px;
    bottom: 0.1px;
}

.iphone-section h2 {
    color: #b3b3b3;
    font-size: 18px;
    margin-bottom: 8px;
}

.iphone-section h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.iphone-section p {
    color: #b3b3b3;
    margin-bottom: 24px;
}

.iphone-section button {
    padding: 8px 24px;
    border: 1px solid white;
    color: white;
    background: none;
    border-radius: 9999px;
    cursor: pointer;
}

.iphone-section button:hover {
    background-color: white;
    color: #1a1a1a;
}

/* Danh muc san pham */
.sanPham {
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    background-color: #FAFAFA;
    height: 250px;
}

.category {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-list {
    display: flex;
    gap: 70px;
}

.category-item {
    width: 128px;
    height: 128px;
    background-color: #f3f3f3;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .category-item span {
        font-size: 16px;
    }
    
    .navigation {
        display: flex;
        position: absolute;
        right: 222px;
        top: 5px;
        gap: 8px;
    }
    
    .navigation button {
        background: none;
        border: none;
        color: #4a4a4a;
        font-size: 20px;
        cursor: pointer;
    }
    
    .navigation button:hover {
        color: black;
    }

.chuyen-slide img{
    width: 100%;
    height: 1px;
    
}